/* Sotto i 1160px */

@media screen and (max-width: 1160px) {
    .container {
        width: 750px;
    }
}

/* Sotto i 768px - Tablet */

.container{
    max-width: 1140px;
    width: 100%;
}

/* Sotto i 576px - Mobile */

@media screen and (max-width: 576px) {
    .row {
        flex-direction: column;
    }

    .row .col {
        width: 100%;
    }

    .steps {
        margin: 0;
        padding-bottom: 0;
    }

    .why-us {
        background-color: #222222;
        margin-bottom: 0;
        padding: 3rem 0;
    }

    .card {
        margin-bottom: 3rem;
    }

    .why-us img{
        margin-bottom: 2rem;
    }
}